<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IA Project</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div id="menu">

    <center><h1>Veuillez saisir les mesures des caractéristiques de la fleur :</h1>
        <form action="/predict" method="post">
            {% for feature in feature_names %}
                <label>{{ feature }}:</label>
                <input type="text" name="{{ feature }}"><br><br>
            {% endfor %}
            <input type="submit" value="Prédire">
        </form></center>
    </div>
<div id="debut">
    
</div>
  

</body>
</html>
