
#debut{     
   background-image: url("1.png") ;
   background-repeat: no-repeat;
   background-size: cover; 
   height: 480px; /* Définit la hauteur de la bordure à 100 pixels */
             width: 1270px; /* Définit la largeur de la bordure à 200 pixels */
              /* Ajoute une bordure de 2 pixels de large en noir */
           }
           #menu {
            background-color: #40b1d0;
            border: 6px solid #161615da;
        }